@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body, html, #root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul {
  list-style-type: "\26A0";
  color: red;
  font-style: italic;
  font-size: 0.75rem;
}

ul>* {
  margin-left: 1rem;
}

.active:not(#title){
    border-top: 1px solid #6375bd;
    border-right: 1px solid #b057aa;
    border-bottom: 1px solid #8763bd;
    border-left: 1px solid #2e3d77;
    animation: rotateColors 2s ease-in-out alternate infinite;
}

@keyframes rotateColors {
  0% {
    border-top: 1px solid #6375bd;
    border-right: 1px solid #b057aa;
    border-bottom: 1px solid #8763bd;
    border-left: 1px solid #5788ae;
  }

  25% {
    border-top-color: #5788ae;
    border-right-color: #6375bd;
    border-bottom-color: #b057aa;
    border-left-color: #8763bd;
  }

  50% {
    border-top-color: #8763bd;
    border-right-color: #5788ae;
    border-bottom-color: #6375bd;
    border-left-color: #b057aa;
  }

  75% {
    border-top-color: #b057aa;
    border-right-color: #8763bd;
    border-bottom-color: #5788ae;
    border-left-color: #6375bd;
  }

  100% {
    border-top-color: #6375bd;
    border-right-color: #b057aa;
    border-bottom-color: #8763bd;
    border-left-color: #5788ae;
  }

}