body, html, #root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul {
  list-style-type: "\26A0";
  color: red;
  font-style: italic;
  font-size: 0.75rem;
}

ul>* {
  margin-left: 1rem;
}