@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body, html, #root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul {
  list-style-type: "\26A0";
  color: red;
  font-style: italic;
  font-size: 0.75rem;
}

ul>* {
  margin-left: 1rem;
}

.active:not(#title){
    animation: none;
    background: linear-gradient(130deg, #7c88b8, #728fa3);
}
