@media only screen and (max-width: 480px) {
    .dashboard>#title {
        font-size: 1.25rem !important;
    }

    #section-header {
        font-size: 1rem !important;
        padding: 1rem 0 1rem 0 !important;
    }

    #empty-message {
        font-size: 0.75rem !important;
    }

    .cards {
        flex-direction: column !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 856px){
    .dashboard>#title {
        font-size: 2rem !important;
    }

    #section-header {
        font-size: 1.5rem !important;
        padding: 1.25rem 0 1.25rem 0 !important;
    }

    #empty-message {
        font-size: 1rem !important;
    }

    .cards {
        flex-direction: column !important;
    }
}

@media only screen and (min-width: 856px) and (max-width: 1280px){
    .dashboard>#title {
        font-size: 3rem !important;
    }

    #section-header {
        font-size: 2rem !important;
    }

    #empty-message {
        font-size: 1.75rem !important;
    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-weight: bolder;
    margin-left: 1rem;
}

.dashboard>#title {
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
    font-size: 4rem;
    text-align: center;
}

.dashboard>.posts {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid gray;
}

.unpublished {
    margin-bottom: 1rem;
}

#empty-message{
    display: flex;
    justify-content: center;
    flex: 1 0 200px;
    background: url('../images/emptywork.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 2rem;
}

.cards{
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 30px;
}

.cards>.post-card {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    padding: 1rem;
    background-color: rgb(255, 235, 235);
    border: 1px solid rgb(255, 235, 235);
    gap: 1rem;
    border-radius: 8px;
    color: #39485b;
    box-shadow: -1rem 1rem #babaee;
    flex: 1;
    justify-content: center;
}

.cards>.post-card:hover{
    animation: float 2s ease-in-out infinite;
}

.posts>#section-header {
    padding: 2rem;
    font-size: 3rem;
}

.cards{
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.post-info>#title {
    font-size: 1.5rem;
    text-align: center;
}

#toggle-status {
    background-color: #babaee;
    border-radius: 12px;
    border: 2px solid #babaee;
    color: rgb(16, 50, 118);
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
}

#toggle-status:hover{
    background-color: #639bbd;
    color: #39485b;
}