.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header>#title {
    font-size: xx-large;
    padding: 10px;
}

.user-nav>*{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 24px;
    transition: ease-in-out;
    font-size: large;
}

.user-nav>*:hover {
    transform: scale(1.2);
}
