@media only screen and (min-width: 769px) {

    .header, .user-nav {
        flex-direction: row !important;
    }
    .toggle-nav {
        display: none !important;
    }
    .user-nav{
        display: flex !important;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 768px) {

    .user-nav {
        max-height: 0px;
        overflow-y: hidden;
        transition: max-height 200ms ease-in-out;
    }

    .user-nav.toggle {
        max-height: 188px;
    }
}

.header { 
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #39485b;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container>* {
    text-decoration: none;
    color: white;
    font-size: xx-large;
    padding: 10px;
}

.header-container>#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container>#title::before{
    content: "M";
    border: 1px solid white;
    padding: 0.1rem 0.6rem;
    border-radius: 50%;
    margin-right: 1.1rem;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.toggle-nav {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #495c75;
    border-radius: 4px;
    margin-right: 0.6rem;
}

.toggle-nav>.line {
    height: 3px;
    width: 30px;
    background-color: #6375bd;
    display: block;
}

.toggle-nav> .line+.line {
    margin-top: 5px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-nav>*{
    color: white;
}

.user-nav>*{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 24px;
    transition: ease-in-out;
    font-size: large;
    border: 1px solid transparent;
}

.user-nav>.logout {
    color: #346c8e;
    background-color: beige;
}

.user-nav>.logout:hover {
    color: #4794c4;
    background-color: rgb(182, 182, 160);
}

.user-nav>*:hover:not(.logout) {
    animation: headerAnim 2s ease-in-out alternate infinite;
}

@keyframes headerAnim {

    0%{
        border-top: 1px solid #6375bd;
    }

    25% {
        border-top: 1px solid #346c8e;
    }

    50%{
        border-right: 1px solid #b057aa;
    }

    75% {
        border-bottom: 1px solid #8763bd;
    }

    100% {
        border-left: 1px solid #6375bd;
    }
}
