.signup-container {
    display: flex;
    flex: 1;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.signup-container>.signup-form>#form-title{
    text-align: center;
    font-size: 1.5rem;
}

.signup-container>.signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signup-container>.signup-form>* {
    padding: 1rem;
}

.signup-container>.signup-form>.form-body> * {
    display: flex;
    flex-direction: column;
}

.signup-container>#blog-name{
    font-size: 2.5rem;
}

